h1 {
	text-align:center;
	font-family:'Poiret One', cursive;
	padding-top: 2em;
	color: white;
	
}

h2 {
	text-align:center;
	font-family:'Poiret One', cursive;
	padding-top: 3em;
	color:white;
	font-size:25pt;
	
}

h3 {
	text-align:center;
	font-size: 12pt;
	font-family:'Poiret One', cursive;
	color:grey;
	line-height:2%;
	
	
}

p {
	text-align:left;
	padding: 0em;
	font-family: 'Poiret One', cursive;
	font-weight: bold;
	font-size: 16pt;
	color: white;
	
}

a {
	color:white;
	font-size: 14pt;
	font-weight: bold;
	text-decoration: none;
}

#table {
	text-align:center;
	padding:2em;
	display: inline;
	font-family:'Poiret One', cursive;
	font-weight: bold;
	color: red;
	
	
}


#about_me {
background-color: black;
    color: white;
    padding: 16px;
    font-size: 25px;
    border: none;
    cursor: pointer;
	font-family:'Poiret One', cursive;
	display:block;
	position: absolute;
	top:65px;
	left: 77%;
	
}

.classname a {
	text-decoration:none;
	
}

#img-banners{
	padding:3.5em;

	
	
}


.img-wrap{
	display:block;
	position:relative;
}
.img-label{
	position:absolute;
	top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
	color:#fff;
	font-size:20px
}
a.img-link:link,a.img-link:active,a.img-link:visited	{
	
	color:#fff;font-size:25px;font-weight: normal;text-decoration:none
	
}
a.img-link:hover	{
	text-decoration:underline
	
}

.img	{
	text-align:center;
	padding;2em;
	
}

#drop-area {display:block;
	position: absolute;
	top:65px;
	left: 70%;
	
}

#otis {
	list-style-type: circle;

}


.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 25px;
    border: none;
    cursor: pointer;
	font-family:'Poiret One', cursive;
	
	
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	font-family:'Poiret One', cursive;
	font-size:12pt;
}

.dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #C8C8BF}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #C8C8BF;
}