body {
  margin: 0;
background: rgb(200,234,255);
background: linear-gradient(0deg, rgba(200,234,255,1) 10%, rgba(222,162,162,1) 30%, rgba(88,74,74,1) 55%);
	
}

h1 {
  margin:0 auto;
  text-align: center;
  color: white;
  font-family: 'Montserrat Alternates', cursive;
  font-weight:300;
  font-size:3em;
  padding-top: 1em;

}

.flexbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 15em;
}

img{
  margin: 20px;
  transition: all 0.5s;
  width: 500px;
  height: 300px;
}

img:hover{
  transform: scale(1.1);
}


